.signbtn{
    color: white;
    background-color: #1e232e;
    border: 1px solid #1e232e;
    width: 5rem;
    justify-content: center;
    align-items: center;
}
.dashlogo{
    max-width: 254px;
    padding: 20px;
    height: 92px;
    border-radius: 5px;
    background-color: rgb(21, 20, 20);
}
 