 .btn{
    background-color:transparent;
    border: 1px solid white;
    color: white;
 }
 .btn:hover{
    border: 1px solid #1e232e;
    background-color: #1e232e;
    transition: .3s;
 }
 .about-btn{
    background-color:transparent;
    border: 1px solid #1e232e;
    color:#1e232e;
    text-decoration: none;
 }
  
 .about-btn:hover{
    border: 1px solid #1e232e;
    background-color: #1e232e;
    color: white;
    transition: .3s;
 }
 .cont-btn{
    border: 2px solid #1e232e;
    background-color: transparent;
    color: #1e232e;
  }
 .cont-btn:hover{
    border: 2px solid #1e232e;
    background-color: #1e232e;
    color: white;
    transition: .3s;
 }
 /* .component-navbar{
   margin-bottom: 5.5rem;
 } */
 @media only screen and (max-width: 443px) {
   .component-navbar{
      margin-bottom: 4rem;
    }
    
}